<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/597571b5-f0f0-4d5e-bd49-cfabd3d981e5/resourceGroups/ShareMaps/providers/Microsoft.Web/sites/ShareMaps</ResourceId>
    <ResourceGroup>ShareMaps</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sharemaps.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sharemaps.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ShareMaps</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ShareMaps</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ShareMapsEntities" Order="1" Enabled="False">
          <Destination Path="metadata=res://*/Models.ShareMapsModel.csdl|res://*/Models.ShareMapsModel.ssdl|res://*/Models.ShareMapsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:sharemaps.database.windows.net,1433;initial catalog=ShareMaps;integrated security=False;User ID=ShareMapsAdmin;Password=Eason0811;MultipleActiveResultSets=True;App=EntityFramework;Trusted_Connection=False;Encrypt=True;&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ShareMaps.Models.ShareMapsEntities, ShareMaps" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:sharemaps.database.windows.net,1433;Initial Catalog=ShareMaps;Integrated Security=False;User ID=ShareMapsAdmin;Password=Eason0811" Name="Data Source=tcp:sharemaps.database.windows.net,1433;Initial Catalog=ShareMaps;User ID=ShareMapsAdmin;Password=Eason0811;Integrated Security=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ShareMaps.Models.ApplicationDbContext, ShareMaps" MigrationConfiguration="ShareMaps.Migrations.Configuration, ShareMaps" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sharemaps.database.windows.net,1433;Initial Catalog=ShareMaps;User ID=ShareMapsAdmin;Password=Eason0811;Integrated Security=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ShareMapsEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ShareMapsModel.csdl|res://*/Models.ShareMapsModel.ssdl|res://*/Models.ShareMapsModel.msl;provider=System.Data.SqlClient;provider connection string='metadata=res://*/Models.ShareMapsModel.csdl|res://*/Models.ShareMapsModel.ssdl|res://*/Models.ShareMapsModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:sharemaps.database.windows.net,1433;initial catalog=ShareMaps;integrated security=False;User ID=ShareMapsAdmin;Password=Eason0811;MultipleActiveResultSets=True;App=EntityFramework;Trusted_Connection=False;Encrypt=True;"'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>