

<div class="infoDiv">
    <h4 class="name"></h4>
    <div>
        <label>地址:</label>
        <label class="address"></label>
    </div>
    <div>
        <label>電話:</label>
        <label class="phonenumber"></label>
    </div>
    <div>
        <label>備註:</label>
        <p class="description"></p>
    </div>
    <div>
        <label>分享次數:</label>
        <label class="sharetime"></label>
    </div>
    <div class="photos">
    </div>
    <div class="socialApp">
        <div>
            <label>分享到:</label>
        </div>
        <div id="line"></div>
        <div class="line-it-button" data-lang="zh_Hant" data-type="share-d" data-url="https://sharemaps.azurewebsites.net" style="display: none;"></div>
    </div>
    <div class="editDeleteArea">
    </div>
</div>
